@media (min-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 114px;
  }
  .showcase {
    background-color: var(--clr-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    z-index: 1;
    position: relative;
  }
  .bg-pattern-2 {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .mobile-app {
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* max-width: 356px; */
    height: auto;
    padding-inline: var(--space-80);
    position: relative;
  }

  .plan-desc {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  .download-app {
    background: var(--clr-orange);
    padding-top: var(--space-48);
    padding-bottom: var(--space-48);
    padding-inline: var(--space-20);
    border-radius: unset;
    z-index: 9999;
    width: 100%;
    height: auto;
    /* position: relative; */
  }

  .download-app h2 {
    font-size: var(--fs-lg);
  }

  .price-plan {
    display: flex;
    align-items: center;
    gap: var(--space-16);
  }

  .price-plan span {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
  }

  .dl-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-16);
  }

  .dl-button .btn {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: var(--space-8);
    padding-inline: var(--space-64);
    padding-block: var(--space-16);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
  }

  .dl-button .btn.ios {
    background: var(--clr-black);
    color: var(--clr-white);
  }

  .dl-button .btn.android {
    background: var(--clr-white);
    color: var(--clr-black);
  }

  .dl-button .btn a {
    font-weight: var(--fw-bold);
  }
}

@media (min-width: 768px) {
  .main {
    padding-block: var(--space-86);
    margin-block-end: 179px;
  }

  .showcase {
    flex-direction: row;
    /* padding-inline: var(--space-64); */
    border-radius: var(--space-12);
    padding-right: var(--space-40);
  }

  .showcase .download-app {
    border-radius: var(--space-16);
    width: 356px;
    padding: var(--space-48);
    position: relative;
    top: 114px;
    left: -26.5px;
    z-index: 9999;
  }

  .dl-button .btn {
    padding-inline: unset;
  }

  .plan-price {
    margin-bottom: var(--space-48);
  }

  .bg-pattern-2 {
    left: 0;
  }

  .mobile-app {
    max-width: 356px;
    padding: 0 0 0 13.5px;
    left: 26.5px;
    top: -114px;
  }

  .mobile-app img {
    width: 270.21px;
  }
}

@media (min-width: 1200px) {
  .main {
    min-width: 1120px;
    padding-inline: var(--space-160);
    margin-inline: auto;
  }
  .showcase {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: var(--space-80);
    /* margin-top: var(--space-80); */
  }

  .bg-pattern-2 {
    left: unset;
  }

  .mobile-app {
    left: unset;
  }

  .mobile-app img {
    width: 100%;
  }

  .showcase .download-app {
    left: unset;
    width: 512px;
    padding: var(--space-56);
    top: var(--space-128);
    z-index: 9999;
  }

  .showcase .download-app p {
    font-size: var(--fs-md);
    line-height: var(--lh-md);
  }

  .plan-price {
    margin-block-start: var(--space-40);
  }
}
